:root {
	/* --md-icon-font: 'Material Symbols Rounded'; */
	--md-list-container-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;

	color: var(--md-sys-color-on-surface);
	position: absolute;

	inset: 0;
}
